<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ5tk5zWrupmu-NIIFZF-7jufE3T1RoJ25Zks6tX2WIw&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pubg</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS72qXeVpBpbJB-b8foBlNCm19vm04DuXVWAeIPYh_TIA&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Pokemon</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVVNtwxzzopVHZVBtz__vmeSIFiVN6GBOsvE6WN1rU-w&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">CandyCrush</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4uIeObqXBazJcTWIQ8eZfo7jIsUC-yANr8nIUcI12FA&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Subwaysurf</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT4ffuHPk12gzUef7RiSUgMZilpLzAGpfHXR8zjqc&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Minecrafts</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc9I72OYiBTNJqubVVIE-Shxs6g8FStjME6T7En-Vq&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Among Us</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfvNCcBNOIFgG844m8Fny-y8oS6xteJJOSAHUvB2I9&s" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Freefire</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLWbh9PUHKhHSl0BFPpbvlx9Q2nlQvMMAVMWhLE43O_g&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">AngryBirds</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFg6CUwHGwQ7fWgDvNezoHnERmbJy8JWC2G1sXsobljg&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Flappy Birds</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7iX2nXxWQQfUL_o6RHVvu_i3MuNn_3O_pkjmIdVE7xg&s" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Clash royale</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy game</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
